#监控redis状态，我们可以根据这个参数对应的监控项创建redis状态触发器。
#redis monitor

UserParameter=redis.status,{{ rediscli_path }} -h {{ ansible_eth0.ipv4.address }} -p {{ redis_port }} ping |grep -c PONG 
UserParameter=redis_info[*],/etc/zabbix/scripts/check_redis_stats.sh $1 $2
