UserParameter=nginx.accepts,/etc/zabbix/scripts/check_nginx_status.sh accepts
UserParameter=nginx.handled,/etc/zabbix/scripts/check_nginx_status.sh handled
UserParameter=nginx.requests,/etc/zabbix/scripts/check_nginx_status.sh requests
UserParameter=nginx.connections.active,/etc/zabbix/scripts/check_nginx_status.sh active
UserParameter=nginx.connections.reading,/etc/zabbix/scripts/check_nginx_status.sh reading
UserParameter=nginx.connections.writing,/etc/zabbix/scripts/check_nginx_status.sh writing
UserParameter=nginx.connections.waiting,/etc/zabbix/scripts/check_nginx_status.sh waiting
