################################################################################################
#                                                                                              #
#                                   Redis Environment Variables                                #
#                                                                                              #
################################################################################################
#============================================ Redis ===========================================#
if [ -e /usr/local/redis/redis-release ]; then
  export REDIS_HOME=/usr/local/redis/redis-release
  export PATH=$REDIS_HOME/bin:$PATH
fi
